@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');
:root {
    /*Primary*/
    --DarkCyan: hsl(158, 36%, 37%);
    ---Cream: hsl(30, 38%, 92%);
    /*Neutral*/
    --DarkBlue: hsl(212, 21%, 14%);
    --GrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

  }

*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
html{
    font-size: 14px;
}

body{
    
    background-color: var(---Cream);
}
img{
    border-radius: 10px 0 0 10px;

}

.card{
    display: flex;
    background-color: var(--White);    
    height: 45%;    
    width: 45%;    
    margin: 10% auto 5% auto;
    
    border-radius: 10px;

    
}
.column1{
    width: 50%;
    
    /* border: 1px solid black; */
}
.column2{
    width: 50%;
    /* border: 1px solid black; */
    align-content: center;
    padding: 1rem 2rem;
}
.card h1{
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 2.2em;
}
.prices{
    display: flex;
    gap: 2.5em;
}
.cost{
    font-size: 2.2em;
    color: var(--DarkCyan);
    
}
.oldcost{
    align-self: center;
    
}
.card p{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    opacity: 60%;
}
.preview{
    letter-spacing: 0.5rem;
}
.button{
    display: flex;
    width: 100%;
}

button{
    
    align-self: center;
    background-color: var(--DarkCyan);
    color:var(--White);
    font-size: 1rem;
    border: 0;
    
    padding: 1rem 5rem;
    margin: 2rem auto 1rem auto;
    
    border-radius: 10px;

}
.button :hover{
    background-color: var(--GrayishBlue);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }