@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');
:root {
    /*Primary*/
    --DarkCyan: hsl(158, 36%, 37%);
    ---Cream: hsl(30, 38%, 92%);
    /*Neutral*/
    --DarkBlue: hsl(212, 21%, 14%);
    --GrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

  }

*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
html{
    font-size: 14px;
}

body{
    
    background-color: var(---Cream);
}
img{
    border-radius: 10px 0 0 10px;
    width :100%;
    height : 100%;

}

.card{
    display: flex;
    background-color: var(--White);    
    height: 550px;    
    width: 600px;    
    margin: 10% auto 5% auto;    
    border-radius: 10px;    
}
.column1{
    width: 50%;
}
.column2{
    width: 50%;
    align-content: center;
    padding: 1em 2em;
}
.heading{
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 2.2em;
}
.prices{
    display: flex;
    gap: 10%;
}
.cost{
    font-family: "Fraunces";
    font-weight: 700;
    
    color: var(--DarkCyan);
    
}
.oldcost{
    align-self: center;
    text-decoration: line-through;
    
}
.card p{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    opacity: 60%;
}
.preview{
    letter-spacing: 0.5rem;
}
.button{
    display: flex;
    width: 100%;
}

button{    
    justify-self: flex-end;
    align-self: center;
    background-color: var(--DarkCyan);
    color:var(--White);
    font-size: 1em;
    border: 0;    
    padding: 5% 30%;
    margin: 2em auto 1em auto;    
    border-radius: 1.2em;
}
.button :hover{
    background-color: var(--GrayishBlue);
}

@media (max-width: 480px) {
    .card{
        flex-direction: column;
        height: 900px;    
        width: 400px;
       
    }
    img{
        background-image: url(./images/image-product-mobile.jpg);
        height: 350px;
        border-radius: 10px 10px 0 0;     
    }
    .column1{
        width: 100%;        
    }
    .column2{
        width: 100%;        
    }

}




.attribution { font-size: 11px; text-align: center; margin: auto; }
.attribution a { color: hsl(228, 45%, 44%); }